<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h2>Zalogowano poprawnie</h2>
        <p>Witaj, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <p>Ta strona jest dostępna tylko dla zalogowanych użytkowników.</p>
    {% endif %}
</body>
</html>
